<div class="container mt-4">
  <div class="p-5 mb-4  home-img rounded-3 text-center">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold ">Alpha Blog </h1>
      <p >
        This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content.
      </p>
      <button class="btn btn-outline-info btn-lg">Sign Up!</button>
    </div>
  </div>
</div>
