<div class="container mt-4">
  <div class="p-5 mb-4  home-img rounded-3 text-center">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold ">Alpha Blog </h1>
      <p class="quote" >
        Your thoughts, your words, your story...shared with the world!
      </p>
      <%# <button class="btn btn-outline-info btn-lg">Sign Up!</button> %>
      <%= link_to "Sign Up!", signup_path, class: "btn btn-outline-info btn-lg" %>
    </div>
  </div>
</div>
